
data/.DS_Store
data/3_EV_curves/.DS_Store
data/3_EV_curves/0_IRMOF1/.DS_Store
data/3_EV_curves/1_hypothetical/.DS_Store
data/3_EV_curves/1_hypothetical/Co+E11/.DS_Store
data/3_EV_curves/1_hypothetical/Co+E33/.DS_Store
data/3_EV_curves/1_hypothetical/Co+E38/.DS_Store
data/3_EV_curves/1_hypothetical/Zn+E11/.DS_Store
data/3_EV_curves/1_hypothetical/Zn+E38/.DS_Store
data/3_EV_curves/2_experimental/.DS_Store
data/3_EV_curves/2_experimental/Co_bdp/.DS_Store
data/3_EV_curves/2_experimental/DUT-4/.DS_Store
data/3_EV_curves/2_experimental/DUT-5/.DS_Store
data/3_EV_curves/2_experimental/Fe_bdp/.DS_Store
data/3_EV_curves/2_experimental/MIL53_Al-2/.DS_Store
data/3_EV_curves/2_experimental/MIL53_Al-NH2/.DS_Store
data/3_EV_curves/2_experimental/MIL53_Al/.DS_Store
data/3_EV_curves/2_experimental/MIL69/.DS_Store
data/3_EV_curves/2_experimental/Zn_bdp/.DS_Store
